/* 
Paleta de colores
#1C3879
#607EAA
#EAE3D2
#F9F5EB */

/* Navbar */

*, *:before, *:after{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
head {
   /* font-family: ; */
}
.menu{
    background-color:  #2c77ca ;
    height: 75px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #EAE3D2;
    box-shadow: 5px 0 10px ;
}
.logo{
    color: #EAE3D2;
    font-size: 35px;
    padding: 0 10vw;
    font-weight: bold;
    
}
.logo:hover{
    background-color: rgba(0,0,0,.3);
    transition: .4s;
}
.menu_items{
    display:flex;
    list-style:none;
    margin-right: 30px; 
}
.menu_items li{
    border-radius: 3px;
    margin: 0 5px;
}
.menu_items li a{
    padding: 7px 13px;
    text-decoration: none;
    font-size: 18px;
    display: block;
    text-transform: uppercase;
    color: #EAE3D2;
}
.menu_items li:hover, li.active {
    background-color: rgba(0,0,0,.3);
    transition: .4s;
}
.btn_menu{
    margin-right:30px;
    font-size: 25px;
    color: #EAE3D2;
    cursor: pointer;
    display: none;
}
ul.show{
    top: 65px;
}
@media screen and (max-width:952px) {
    .logo{
        font-size: 30px;
        padding-left: 35px;
    }
    .menu_items li a{
        font-size: 16px;
    }
}
@media screen and (max-width:858px) {
    .menu{
        height: 65px;
    }
    .btn_menu{
        display: inline-flex;
    }
    .menu_items{
        position: fixed;
        width: 100vw;
        height: calc(100%-65px);
        background: #607EAA;
        top: -100vw;
        text-align:  center;
        transition: all .4s;
        flex-direction: column;
    }
    .menu_items li{
        margin: 30px 0 0 0;
        line-height: 30px;
    }
    .menu_items li:hover{
        background: none;
    }
    .menu_items li a{
        font-size: 20px;
        color:#EAE3D2;
        font-weight: bold;
    }
    .menu_items li a:hover{
        color:#1C3879;
    }
    .logo{
        font-size: 25px;
        padding-left: 35px;
    }
}
@media screen and (max-width:858px) and (orientation: landscape){
    .menu_items li{
        margin: 5px 0 0 0;
    }
    .menu_items{
        overflow: scroll;
        height: calc(100%-65px);
    }
}

body{
    background-color: #607EAA;
}

/* Home */

#home{
    background-repeat: no-repeat;
    align-items: center;
    margin: auto;
}

#home .contenedor{
    position: absolute;
    top: 80%;
    left: 90%;
    transform: translateX(-80%) translateY(-50%);
    color: #fff;
}

